<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Default Suite" parallel="classes" thread-count="2">
    <test name="PracticeProject1-main" >
        <classes>
            <class name="pages.Testparallel.LoginTest1"/>
            <class name="pages.LoginTest2"/>
        </classes>
    </test> <!-- PracticeProject1-main -->
</suite>
